@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

body {
    font-family: 'Quicksand', sans-serif;
    background: linear-gradient(to bottom, #6a0572, #52006a); /* Prugna-Viola */
    color: white;                                                  text-align: center;
    padding: 20px;
}

h2 {
    font-weight: 600;                                          }

form {
    background: rgba(255, 255, 255, 0.1);
    padding: 20px;
    border-radius: 10px;
    display: inline-block;
}

input {
    padding: 10px;
    border: none;
    border-radius: 5px;
    margin: 5px 0;
}

input[type="submit"] {
    background: #ff4081;
    color: white;
    cursor: pointer;
}

input[type="submit"]:hover {
    background: #e03572;
}

/* Stile per i pulsanti gialli */
.button {
    display: inline-block;
    padding: 10px 15px;
    margin: 5px;
    border-radius: 5px;
    text-decoration: none;
    font-weight: 600;
}

.button.yellow {
    background-color: #ffcc00;
    color: black;
}

.button.yellow:hover {
    background-color: #e6b800;