{% extends 'base.html' %}

{% block title %}Modifica Utente{% endblock %}

{% block content %}
    <h2>Modifica Utente</h2>
    <form method="POST">
        <label for="nome">Nome:</label>
        <input type="text" id="nome" name="nome" value="{{ utente.nome }}" required>

        <label for="cognome">Cognome:</label>
        <input type="text" id="cognome" name="cognome" value="{{ utente.cognome }}" required>

        <label for="email">Email:</label>
        <input type="email" id="email" name="email" value="{{ utente.email }}">

        <label for="piano">Piano:</label>
        <select id="piano" name="piano" required>
            <option value="Full HD" {% if utente.piano == "base" %}selected{% endif %}>Base</option>
            <option value="4K" {% if utente.piano == "premium" %}selected{% endif %}>Premium</option>
        </select>

        <label for="stato">Stato:</label>
        <select id="stato" name="stato" required>
            <option value="attivo" {% if utente.stato == "attivo" %}selected{% endif %}>Attivo</option>
            <option value="sospeso" {% if utente.stato == "sospeso" %}selected{% endif %}>Sospeso</option>
        </select>

        <button type="submit">Salva Modifiche</button>
    </form>
{% endblock %}